body {
  margin: 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

div {
  display: block;
}

.navigation-container {
  border-bottom: 1px solid #000000;
  background: gray;
  margin-bottom: 0;
}

.nav {
  padding: 0;
  margin: 0;
}

.nav li {
  display: inline-block;
  list-style: none;
}

.nav > li > a {
  display: block;
  color: brown;
  padding: 10px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
}

.nav > li > .active,
.nav > li > a:hover {
  color: #bbbbbb;
  text-decoration: none;
  display: block;
}

.nav > li > a:hover {
  color: #ffffff;
}

.search-container {
  padding: 20px 10px;
  /*  The above is shorthand for:
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  */
  border-bottom: 1px solid #e5e5e5;
  background: #f4f4f4;
}

.module{
  background: url(file:///Users/fangguangbin/Dropbox/LM/images/lion.jpg);
  background-size:cover;
  width: 100%;
  height: 700px;
  margin: 0 0 0 0;
  position: relative;
  float: left;
}

.mid h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchbar{
  padding: 20px 15px;
  /*  The above is shorthand for:
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  */
  /*border-bottom: 2px solid #e5e5e5;*/
  background: gray;
  -moz-opacity: 0.7;
  opacity:.60;
  filter: alpha(opacity=70);
}

.footer{
  width:100%;
  font-size: 0;
}

.introduction{
    display: inline-block;
    *display: inline;
    zoom: 1;
   vertical-align: top;
   font-size: 10px;
   width: 100%;
   padding-top: 50px;
 }

/*.introduction li{
  display: inline-block;
  list-style: none;
}*/

.WhatWeDo{
  height: 100px;
  width: 50%;
  background: silver;
  float: left;
}

.advantages{
  height: 100px;
  width: 50%;
  background: gray;
  float: left;
}

.join{
 display: block;
}

.join_us{
  background-image: url(file:///Users/fangguangbin/Dropbox/LM/images/join_us.jpg);
  background-position: right bottom;
  background-repeat: no-repeat;
  height: 208px;
  background: silver;
}
