body {
  margin: 0;
  font-family: 'arial', 'san-serif';
  font-size: 14px;
}

div {
  display: block;
  padding-top: 0;
  padding-bottom: 0:
}

.container {
  /*border-bottom: 1px solid #000000;*/
  background: gray;
  margin-bottom: 0;
  padding: 0;
}

.container>ul{
  margin: 0;
}

.container>ul>li{
  display: inline-block;
  list-style: none;
  margin: 0;
}

.container>ul>li>a{
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #bbbbbb;
}

.search-container {
   padding: 20px 10px;
   background: #f4f4f4;
}

.module{
  background: url(file:///Users/fangguangbin/Dropbox/LM/images/lion.jpg);
  background-size:cover;
  width: 100%;
  height: 700px;
  margin: 0 0 0 0;
}

.mid h1{
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchbar{
  padding: 20px 20px;
  /*  The above is shorthand for:
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  */
  background: gray;
  opacity:.60;
  /*filter: alpha(opacity=70);*/
  /*-moz-opacity: 0.7;*/
}

.join_us{
  background-color: white;
  height: 100%;
  padding: 0 100px 0 100px;
}

.join_us > ul{
  padding-bottom: 0;
}

.join_us>ul>li{
  padding: 0 30px;
}

.footer{
  width:100%;
  font-size: 0;
}

.introduction{
    display: inline-block;
    *display: inline;
    zoom: 1;
   vertical-align: top;
   font-size: 10px;
   width: 100%;
 }
 .WhatWeDo{
   height: 100px;
   width: 50%;
   background: silver;
   float: left;
 }

 .advantages{
   height: 100px;
   width: 50%;
   background: gray;
   float: left;
 }

/*.introduction li{
  display: inline-block;
  list-style: none;
}*/
