<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>
      Something about our team:
    </h1>

    <a href="/tasks">HomePage</a>
  </body>
</html>
