<h1>About us</h1>

<p>How big is the decision of starting a new life in a foreign country? How hard is it to choose the <strong>right one</strong>? To us international students, the decision of going to an unfamiliar city, state, country and start a new life there is both intimidating and exciting. We all know the struggle of deciding without feeling of having enough information. We all experienced the uncertainty of choice and hope. Thats why we are here to help you.</p>

<p>LMProject is a new way of sharing experience and getting to know which school/program best fits you. We strive to find the exact right people in your target program to tell you the experience they have.</p>

<p>Both of our founders spent more than 5 years studying outside of their home country. When they finished their study here, looking back, they wonder, did they make the <em>best</em> decision for themselves? Given more information, would we have the <strong>same</strong> choice? We hope our small website helps you.</p>

<h1>We we do?</h1>

<ul>
	<li>We help you to identify their ideal school/program</li>
	<li>We reduce the cost of your application</li>
	<li>we connect you with the current students of your targeted school/program</li>
</ul>

<h1>Why us?</h1>

<ul>
	<li>avoid misalignment with <strong>real</strong> learning experience</li>
	<li>provide customized information that is most useful to you</li>
	<li>know your targeted school/probram in real time</li>
</ul>

<a href="/homepage">HomePage</a>
