<!DOCTYPE html>
<html>
  <head>
    <title>Basic HTML Page</title>
    <link rel="stylesheet" href="/home.css">
  </head>

  <body>
    <h1>Article List</h1>

    <ul>
      <% articles.each do |article| %>
        <li><%= article %></li>
      <% end %>
    </ul>

    <form action="/articles" method="post">
      <label for="article_name">New Article:</label>
      <input type="text" id="article_name" name="article_name">
      <input type="submit">
    </form>

  </body>
</html>
